.app {
  min-height: 100vh;
  
}

/* DASHBOARD */

.dashboard {
  width: 100%;
  margin: auto;

  padding: 35px;

  display: flex;
  flex-direction: column;
  gap: 25px;


  max-width: 1400px;
  margin-left: 280px;
  margin-right: 0px;
}


.reportes {
  width: 100%;
  margin: auto;

  padding: 35px;

  display: flex;
  flex-direction: column;
  gap: 25px;


  max-width: 1400px;
  margin-left: 280px;
  margin-right: 0px;
}

/* GRAFICAS */

.top-grid {
  display: grid;

  grid-template-columns:
    1.5fr 1fr;

  gap: 25px;
}

.large-chart {
  width: 100%;
}

.chart-card {
  background: white;

  border-radius: 24px;

  padding: 30px;

  box-shadow:
    0 8px 30px
    rgba(
      0,
      0,
      0,
      0.08
    );

  min-height: 520px;
}

.chart-container {
  position: relative;
  height: calc(100% - 70px);
}

.chart-card h3 {
  margin-bottom: 25px;
  color: #233876;
  font-size: 24px;
}

/* FOOTER */

.footer {
  background: linear-gradient(
    90deg,
    #1e3caa,
    #1b2c7a
  );

  color: white;
  text-align: center;
  padding: 22px;
  margin-top: 30px;
  margin-bottom: 0;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .top-grid {
    grid-template-columns:
      1fr;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .header-left h1 {
    font-size: 34px;
  }

  .dashboard {
    padding: 20px;
  }
}

.product-chart {
  position: relative;
  height: 400px; /* O el alto que prefieras */
  width: 100%;
}

/* Export overlay */
.export-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.775);
  z-index: 9999;
}
.export-box {
  background: white;
  padding: 24px 28px;
  border-radius: 12px;
  display: flex;
  gap: 16px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}
.spinner {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid #e6e6e6;
  border-top-color: #1e3caa;
  animation: spin 1s linear infinite;
}
.export-text {
  font-weight: 600;
  color: #233876;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}